
h1{
	font-size: 3rem;
	color: white;

}
hr{
	border-color: #F05F44;
	border-width: 3px;
	max-width: 65px;
}


.btn-primary{
	background-color: #F05F44;
	border-color: #F05F44;
}
.btn-primary:hover{
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 4px;
}
.bnt-xl{
	padding: 1rem 2rem;
}
